body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/pexels-esteban-amaro-3138866-5849746.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

.topNav {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNav a:hover {
  background-color: #ddd;
  color: black;
}

.topNav .icon {
  display: none;
}

.active {
  background-color: #04AA6D;
  color: white;
}

@media screen and (max-width: 600px) {
  .topNav #myLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }

  .topNav a.icon {
    display: block;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topNav #myLinks a {
    text-align: left;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 601px) {
  .topNav #myLinks {
    display: flex;
  }
}
